[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Restart=on-failure
RestartSec=5
TimeoutStopSec=300
WorkingDirectory={{ prometheus_install_dir }}

ExecStart=/usr/local/bin/prometheus \
  --config.file={{ prometheus_install_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_install_dir }}/data
  
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
