[Unit]
Description=Gaia service
After=network-online.target

[Service]
User={{node_user}}
ExecStart={{chain_bin}} start --x-crisis-skip-assert-invariants --home {{ chain_home }}
# RestartSec=3
# Restart=on-failure
Restart=no
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target